*{
    padding: 0;
    margin: 0;
   
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
	background-size: cover;
}

.Menu{
    width: 100%;
    height: 100px;
}

.Menu li{
    float: left;
    list-style-type: none;
}

.Menu li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 25px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.Menu li a:hover{
    color: rgb(0, 0, 0);
}

.Menu img{
    width: 96px;
    height: 63px;
    margin-top: 20px;
    margin-left: 20px;
}

.Menu .img_nav{
    width: 50px;
    height: 50px;
    margin-left: 1180px;
    margin-top: 30px;
}

#LinkTopo {
	text-decoration: none;
	color: white;
	background: #E70707BA;
	padding: 10px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 3px 3px 10px #333;
	
	
}

.imgSlide{
    display: none;
}

.slideshow img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
	
}

.slideshow{
    position: relative;
    margin: auto;
}

.ponto{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ativar{
    background-color: #717171;
}

.anime{
    animation-name: anime;
    animation-duration: 5s;
}

@keyframes anime{
    from {opacity: .4} 
    to {opacity: 1}
}

.sobre{
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobre h1{
    margin-top: 100px;
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.sobre p{
    color: #fff;
    font-family: 'Times new Roman';
}

.sobre .img_logo{
    margin-top: 0;
    width: 15%;
    height: 100%;
}

.sobre .img_sobre {
    width: 30%;
    height: 40%;
    display: flex;
    margin-left: 5%;
    margin-bottom: 15%;
	
}

.sobre .img_sobre img{
    border-radius: 25px;
}

.sobre .img_sobre .img{
    margin-left: 70%;
}

.sobre_text{
    width: 35%;
    height: 20%;
    font-size: 20px;
	
}
.sobre_conteudo{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#planos_link{
    width: 100%;
    height: 750px;
    background-color: rgb(0, 0, 0);
}

#planos_link h1{
    margin-top: 100px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.planos{
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}

.planos .img_indi{
    width: 70px;
    height: 80px;
    margin-left: 130px;
    margin-top: -30px;
}

.planos .img_duo{
    width: 90px;
    height: 80px;
    margin-left: 130px;
    margin-top: -30px;
}

.planos .img_fami{
    width: 120px;
    height: 80px;
    margin-left: 130px;
    margin-top: -30px;
}

#planos_link .planos h1{
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#planos_link .planos p{
    margin-top: 20px;
    font-family: 'Tiro Bangla';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

.planos .plano_individual{
    width: 350px;
    height: 550px;
    background: #FFFFFF;
    margin-left: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.planos .plano_duo{
    width: 350px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.planos .plano_familia{
    width: 350px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.planos button{
    color: #fff;
    width: 159px;
    height: 50px;
    background: linear-gradient(0deg, rgba(60, 0, 0, 0.2), rgba(60, 0, 0, 0.2)), #F40000;
    border-radius: 30px;
    border: none;
    margin-left: 100px;
    margin-top: 200px;
}

.planos button a{
    font-family: 'Inter'; 
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.planos button:hover{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#imc_link{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
	
}

#imc_link h1{
    margin-top: 20px; 
    color: #fff;
    text-align: center;
    font-size: 25px;
}

#imc_link p{
    font-family: 'Tiro Bangla';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
	
}

.imc_conteudo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.imc_calculo{
    width: 651px;
    height: 401px;
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
}

.imc_calculo .calculo{
    width: 300px;
    height: 400px;
}

.imc_calculo .calculo input{
    width: 230px;
    height: 48px;
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
}

.imc_calculo .calculo input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
.imc_calculo .calculo input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.imc_calculo .calculo input::placeholder{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #7B7B7B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align:center;
    margin-left: 150px;
}

.imc_calculo .calculo h2{
    text-align: center;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 20px;
}

.imc_calculo .calculo button{
    color: #fff;
    width: 250px;
    height: 49px;
    background: linear-gradient(0deg, rgba(60, 0, 0, 0.2), rgba(60, 0, 0, 0.2)), #F40000;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    margin-top: 30px;
}

.imc_calculo .calculo button:hover{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.imc_calculo .calculo textarea{
    resize: none;
    width: 230px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 10px;
}

.imc_calculo .img_imc img{
    margin-left: 8%;
	
}

.imc_calculo .img_imc h3{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #7B7B7B;
}

.imc_calculo .img_imc button{
    color: #fff;
    width: 168px;
    height: 32px;
    background: linear-gradient(0deg, rgba(60, 0, 0, 0.2), rgba(60, 0, 0, 0.2)), #F40000;
    border-radius: 30px;
    border: none;
    margin-left: 100px;
    margin-top: 10px;
}

.imc_calculo .img_imc button:hover{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


.imc_calculo .img_imc input{
    width: 148px;
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    margin-left: 100px;
    padding: 10px;
}

.imc_calculo .img_imc input::placeholder{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #7B7B7B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align:center;
    margin-left: 100px;
	
}

.imc_dicas{
    width: 250px;
    height: 401px;
    background: #FFFFFF;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.imc_dicas .imc_dicas_conteudo{
    width: 220px;
    height: 360px;
    background: #D9D9D9;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 15px;
}

#contato_link{
    width: 100%;
	
    height: 330px;
    background-color:#E70707BA;
    margin-top: 150px;
	
}

footer{
    display: flex;
    justify-content: left;
}

footer .contato_img_logo{
    width: 220px;
    height: 230px;
    margin-left: 70px;
    margin-top: 80px;
}

footer .contato_img_logo img{
    width: 200px;
    height: 200px;
}

footer .contato_conteudo{
    width: 500px;
    height: 290px;
    margin-left: 120px;
    margin-top: 30px;
}

footer .contato_conteudo h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: center;
}

footer .contato_conteudo img{
    margin-left: 100px;
}

footer .contato_conteudo a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 10px;
}

footer .contato_conteudo a:hover{
    color:#bbb;
}

footer .contato_conteudo .img_email{
    float: left;
    margin-left: 130px;
}

footer .contato_conteudo .img_telefone{
    float: left;
    margin-left: 150px;
    margin-top: 10px;
}

footer .contato_conteudo h3{
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
}

footer .contato_conteudo .contato_redesocias{
    justify-content: center;
    display: flex;
}   

footer .contato_conteudo .contato_redesocias img:nth-child( 1 ){
    margin-left: -10px;
}

footer .contato_conteudo .contato_redesocias img:nth-child( 2 ){
    margin-left: 30px;
}

footer .contato_conteudo .contato_redesocias img:nth-child( 3 ){
    margin-left: 30px;
}

footer .contato_conteudo h4{
    text-align: center;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

@media (max-width:999px) {
    .Menu .img_nav{
        display: none;
    }

    .imc_dicas{
        display: none;
    }

    .imc_calculo .img_imc{
        display: none;
    }

    .imc_calculo{
        width: 300px;
        margin-top: 60px;
        margin-left: 40px;
    }

    .sobre .img_sobre img{
        display: none;
    }

    .sobre .sobre_conteudo .sobre_text{
        margin-top: 250px;
        text-align: center;
        margin-left: -180px;
        width: 950px;
        margin-bottom: -300px;
    }

    .img_logo{
        margin-left: 130px;
    }

    .planos img{
        display: none;
    }

    .planos .plano_individual{
        height: 350px;
        margin-bottom: 50px;
        margin-left: 50px;
    }

    .planos .plano_individual button{
        margin-top: 90px;
    }

    .planos .plano_duo{
        height: 350px;
        margin-bottom: 50px;
        margin-left: 50px;
    }

    .planos .plano_duo button{
        margin-top: 90px;
    }

    .planos .plano_familia{
        height: 350px;
        margin-left: 50px;
    }

    .planos .plano_familia button{
        margin-top: 90px;
    }

    #imc_link h1{
        margin-top: 600px;
    }

    footer .contato_img_logo img{
        display: none;
    }

    #contato_link{
        margin-top: 140px;
    }

    footer .contato_conteudo h1{
        text-align: left;
        margin-left: -90px;
    }

    footer .contato_conteudo .img_email{
        margin-left: -170px;
    }

    footer .contato_conteudo a{
        margin-left: -120px;
    }

    footer .contato_conteudo .img_telefone{
        margin-left: -160px;
    }

    footer .contato_conteudo h3{
        margin-left: -120px;
    }

    footer .contato_conteudo .contato_redesocias{
        margin-left: -260px;
    }

    footer .contato_conteudo h4{
        margin-left: -260px;
    }
}